@import "normalize.css";
@import "./base.css";

body {
  margin: 2px;
  background-color: var(--color-green);
}

h1,
h2 {
  color: var(--color-green);
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  color: var(--color-medium);
}

a {
  color: var(--color-dark);
  text-decoration: underline;
}

.container {
  background-color: var(--color-white);
  min-height: 40vh;
  padding: 12px;
  box-sizing: border-box;
}

section {
  lost-utility: clearfix;

  & > div {
    lost-column: 1/8 8 8px flexbox;
    background-color: var(--color-green);
  }
}
